# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao #This is an inline comment.
/vllm/core @zhuohan123 @youkaichao @oscars-org/test-team 

# CPU
/vllm/v1/worker/^cpu @bigPYJ1151 #This is an inline comment.
/csrc/cpu @bigPYJ1151
/vllm/platforms/cpu.py @bigPYJ1151
/cmake/cpu_extension.cmake @bigPYJ1151
/docker/Dockerfile.cpu @bigPYJ1151 #This is an inline comment.

# Intel GPU
/vllm/v1/worker/^xpu @jikunshang

/pages/users/[userId].js @oscars-org/test-team 
